.foto-perfil {
  height: 100%;
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
}

.corPrimaria {
  background-color: rgb(98, 146, 146);
}

.corSecundaria {
  background-color: rgb(37, 37, 37);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: black !important;
}

.icones {
  padding-left: 5px;
}

.titulosBrancos {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  font-weight: 700;
  color: white;
}

.titulosVerdes {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  font-weight: 700;
  color: rgb(98, 146, 146);
}

.textoBranco {
  color: white !important;
}

.textoFooter {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
html {
  scroll-behavior: smooth;
}
